name: .NET CD Workflow

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      environmentName:
        required: true
        type: string
      allowedBranches:
        required: false
        default: '["main"]'
        type: string
      migrationBundleArguments:
        required: false
        default: ''
        type: string
      deploymentDelayInMinutes:
        required: false
        default: 0
        type: number
      artifactName:
        required: false
        default: 'container-image'
        type: string
      repositoryName:
        required: true
        type: string
      azureServicePrincipalId:
        required: true
        type: string
      dbConnection: 
        required: false
        type: string
      dbConnections:
        description: "Multiple DB connections as JSON array"
        required: false
        default: "[]"
        type: string
      optionalDbConnection1: 
        required: false
        type: string
        description: "TEMPORARY: DO NOT USE OPTIONAL DB CONNECTIONS, THESE ARE TEMPORARY AND WILL BE REMOVED WITHOUT WARNING!"
      optionalDbConnection2:
        required: false
        type: string
        description: "TEMPORARY: DO NOT USE OPTIONAL DB CONNECTIONS, THESE ARE TEMPORARY AND WILL BE REMOVED WITHOUT WARNING!"

permissions:
  id-token: write
  contents: read
  
jobs:
  delay_deployment:
    runs-on: ubuntu-latest    
    name: Delay deployment to ${{ inputs.environmentName }} for ${{ inputs.deploymentDelayInMinutes }} minutes 
    if: ${{ contains(fromJSON(inputs.allowedBranches), github.ref_name) || (startsWith(github.ref_name, 'release') && contains(fromJSON(inputs.allowedBranches), 'release')) }}
    steps:
      - name: Delay
        run: sleep ${{ inputs.deploymentDelayInMinutes }}m
  
  deploy:
    runs-on: private-ubuntu-runner
    environment: ${{ inputs.environment }}
    if: ${{ contains(fromJSON(inputs.allowedBranches), github.ref_name) || (startsWith(github.ref_name, 'release/') && contains(fromJSON(inputs.allowedBranches), 'release')) }}
    steps:      
      - name: Determine ACR name and ACR subscription based on environment
        run: |
          if [ "${{ inputs.environmentName }}" = "prod" ] || [ "${{ inputs.environmentName }}" = "stage" ]; then
            echo "ACR_NAME=crndsharedprod.azurecr.io" >> $GITHUB_ENV
            echo "AZURE_SUBSCRIPTION=a60c4c2a-c6d9-4940-85e5-bd1fa4a1dfea" >> $GITHUB_ENV
          else
            echo "ACR_NAME=crndsharednonprod.azurecr.io" >> $GITHUB_ENV
            echo "AZURE_SUBSCRIPTION=21eca75c-ed74-4f47-9f51-c0c345a00859" >> $GITHUB_ENV
          fi

      - name: Log in with Azure
        uses: azure/login@v2
        with:
          client-id: ${{ inputs.azureServicePrincipalId }}
          tenant-id: '5546488e-16ae-4971-ba91-b12a928efaf8'
          subscription-id: ${{ env.AZURE_SUBSCRIPTION }}

      - name: Download migrations artifact
        if: ${{ inputs.migrationBundleArguments != '' }}
        uses: actions/download-artifact@v5
        with:
          name: migrations-bundle
          path: migrations-bundle

      - name: Set executable permission for migrations-bundle and run
        if: ${{ inputs.migrationBundleArguments != '' && inputs.dbConnection != '' }}
        run: |
          chmod +x ./migrations-bundle.exe
          ./migrations-bundle.exe --connection '${{ inputs.dbConnection }}' --verbose
        working-directory: ./migrations-bundle  

      - name: Run migrations for multiple DB connections
        if: ${{ inputs.migrationBundleArguments != '' && length(fromJSON(inputs.dbConnections)) > 0 }}
        run: |
          chmod +x ./migrations-bundle.exe
          echo '${{ inputs.dbConnections }}' | jq -r '.[]' | while read -r connection; do
            ./migrations-bundle.exe --connection "$connection" --verbose
          done
        working-directory: ./migrations-bundle

      # TEMPORARY: DO NOT USE OPTIONAL DB CONNECTIONS, THESE ARE TEMPORARY AND WILL BE REMOVED WITHOUT WARNING!"
      - name: Run migrations for optionalDbConnection1 if provided
        if: ${{ inputs.migrationBundleArguments != '' && inputs.optionalDbConnection1 != '' }}
        run: |
          chmod +x ./migrations-bundle.exe
          ./migrations-bundle.exe --connection '${{ inputs.optionalDbConnection1 }}' --verbose
        working-directory: ./migrations-bundle
        
      # TEMPORARY: DO NOT USE OPTIONAL DB CONNECTIONS, THESE ARE TEMPORARY AND WILL BE REMOVED WITHOUT WARNING!"
      - name: Run migrations for optionalDbConnection2 if provided
        if: ${{ inputs.migrationBundleArguments != '' && inputs.optionalDbConnection2 != '' }}
        run: |
          chmod +x ./migrations-bundle.exe
          ./migrations-bundle.exe --connection '${{ inputs.optionalDbConnection2 }}' --verbose
        working-directory: ./migrations-bundle
      
      - name: Download Docker image artifact
        uses: actions/download-artifact@v5
        with:
          name: ${{ inputs.artifactName }}

      - name: Load Docker image
        run: docker load --input image.tar

      - name: Set Docker image tag
        run: echo "imageTag=${{ inputs.environmentName }}-$(date +%s)" >> $GITHUB_ENV

      - name: Log in to the Azure Container Registry
        run: |
          az acr login --name ${{ env.ACR_NAME }}

      - name: Retag Docker image
        run: |
          docker tag ${{ inputs.repositoryName }}:tmp ${{ env.ACR_NAME }}/${{ inputs.repositoryName }}:${{ env.imageTag }}

      - name: Push Docker image to ACR
        run: |
          docker push ${{ env.ACR_NAME }}/${{ inputs.repositoryName }}:${{ env.imageTag }}
